<div class="container">
<div class="text-center">
   <h2>
      About Us
   </h2>
</div>
<div>
   <img src="./img/Final_ERD.png" class="rounded mx-auto d-block" alt="..." style="width:100%;height:100%">
</div>
<div class="container-fluid pt-5" style="padding-top:10rem;margin-left: 0;padding-bottom:1rem;">
   <table>
      <tbody>
         <tr>
            <td style="padding-right:5px" width="33%">
               <p class="card-text"> <b>Git Log:</b></p>
               <p class="card-text" style="font-size: xx-small"> 
               </p>
               <div class="text-center">
                  <img src="./img/gitlog.png" class="card-img-top" style="width:100%;height:100%">
               </div>
               <p></p>
            </td>
         </tr>
      </tbody>
   </table>
</div>
<div class="container-fluid pt-5" style="padding-top:10rem;margin-left: 0;padding-bottom:1rem;">
   <b>Star Contributors</b>
   <table>
      <tbody>
         <tr>
            <td style="padding-right:5px" width="33%">
               <div class="text-center">
                  <img src="./img/ManojPal.JPG" class="card-img-top" style="width:250px;height:250px"><br>
                  <b class="card-title">Manoj Pal</b>
                  <p class="card-text" style="font-size: medium"> Created DB models for all the entities using the EF-Code First approach.
                     Added CRUD operations for patient managament aspect of the application.Deployed the application on the Microsft Azure cloud by creating Application Service and the SQL server instance.
                     Generated Pie-Chart using Chart.js for the patient status distribution of a hospital.
                  </p>
                  <br>
               </div>
               <div class="text-center">
                  <img src="./img/Jennifer.jpeg" class="card-img-top" style="width:250px;height:250px"><br>
                  <b class="card-title">Jennifer Nisely Panneer Selvam</b>
                  <p class="card-text" style="font-size: medium"> Designed the Home and the add hospital pages using HTML, css, and javascript.Created line chart using Chart.js and the New York regions data directly from the API - https://health.data.ny.gov/resource/jw46-jpb7.json.
                     Developed the functionality to add and fetch information of a Hospital in a region. 
                  </p>
                  <br>
               </div>
               <div class="text-center">
                  <img src="./img/Charan.jpeg" class="card-img-top" style="width:250px;height:250px">
                  <br><b class="card-title">Charan Kumar Sulagiri</b>
                  <p class="card-text" style="font-size: medium"> Designed the entire database by creating the ERD diagram using Visio.
                     Designed the Patient managanment pages using HTML, css, and Javascript.
                     Developed the functionality to update the information of a Hospital in a particular region.
                  </p>
                  <br>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
</div>