@{
    ViewData["Title"] = "Home Page";
}
<div>

</div>

<div class="text-center">
    <h2>
        Welcome to, <br />
        Covid19 - New York Hospital Management System
    </h2>

    <span>This application is designed for New York state officials to tracks all the facilities and the patients associated with them.<br/>
        This dataset includes information at the reporting facility level on patients hospitalized, admitted, and discharged.
        Patient information collected as part of the HERDS Hospital Survey are lab-confirmed COVID-19 positive.
        Hospitalized means patients admitted as inpatients in either inpatient or observation beds and does not include patients that were treated and released from an Emergency Department.
        The title of this dataset was initially the Hospital Electronic Response Data System (HERDS) Hospital Survey: COVID-19 Hospitalizations and Beds.
        The dataset was changed to its current title on 11/4/2021.
    </span>

</div>
